html, body, .container.main {
	height: 100%;
}

body {
	margin: auto auto;
}

.container.main {
	position: relative;
}

.header h1 {
	font-size: small;
	margin-bottom: 2em;
}

.query-results {
	margin-top: 6em;
	min-height: 10em;
	position: relative;
	text-align: center;
}

.query-results:before {
	border-left: 1px solid #f0f0f0;
	bottom: 0;
	content: '';
	display: block;
	left: 50%;
	position: absolute;
	top: 0;
}

.loading {
	background: url("/static/images/loading.gif") no-repeat center center;
	height: 60px;
	width: 30px;
}

#form-main {
	position: absolute;
	top: 35%;
	transition: top 0.1s ease;
}

.results-loaded #form-main {
	top: 0;
}

#form-main input, #form-main button {
	border-radius: 0;
	font-size: 2em;
	height: 2em;
}

.panel-positive .panel-title {
	color: green;
}

.panel-negative .panel-title {
	color: red;
}

footer {
	background: #fff;
	bottom: 0;
	line-height: 3em;
	position: fixed;
	width: 100%;
}