<!doctype html>
<html>
<head>
	<title>TwitterNLP</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="page-header col-md-12">
				<h1>TwitterNLP</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<form role="form" id="form-main">
					<div class="input-group">
						<!-- <label for="query">Query</label> -->
						<input type="text" class="form-control" id="query" placeholder="Enter your query">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">Submit</button>
						</span>
					</div>
				</form>
			</div>
		</div>

		<!-- The results will be displayed here. -->
		<div class="row query-results">
			<div class="col-md-6">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3 class="panel-title">Positive</h3>
					</div>
					<div class="panel-body">
						<div id="query-results-positive">
							<ul class="list list-unstyled"></ul>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel panel-danger">
					<div class="panel-heading">
						<h3 class="panel-title">Negative</h3>
					</div>
					<div class="panel-body">
						<div id="query-results-negative">
							<ul class="list list-unstyled"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="row text-center">
			<small>Developed by Arnav, Gayathri, Keerthana, Sahil, and Shahbaaz.</small>
		</footer>
	</div>
</body>
</html>